*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-image: url('images/img.jpg');
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}
.main-container{
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-self: center;
  border-radius: 10px;
  border: ;
  backdrop-filter: blur(60px);


}
.container{
  display: grid;
  place-items: center;
  width: 400px;
  height: 360px;
}

form{
    height: 200px;
    margin-top: -80px;
}
input{
    
    margin-bottom: 20px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    box-shadow: 2px 3px 4px wheat;
    outline: none;
}
::placeholder{
    
    color: rgba(243, 238, 238, 0.863);
}


.radio{
    box-shadow: none;
    margin-bottom: 0px;
}
.gap{
  display: flex;  
  gap: 10px;
  align-items: center;
}
a , .a{
    text-decoration: none;
    font-size: 10px;
}
h4{
    color: brown;
}
.log{
    width:170px;
    height: 30px;
    font-size: 20px;
    background-color: rgba(255, 255, 0, 0.514);
    border: none;
    color: white;
    font-family: sans-serif;
    border-radius: 10px;
    margin-top: 10px;
    
    
}
.log:hover{
    width: 150px;
    transition: all 4s ease;
    background-color: black;
}
#h1{
    margin-bottom: 10px;
    text-align: center;
    width: 190px;
    animation-name: calla;
    animation: callo 5s infinite;
   
}
@keyframes callo{
    7.00% { color: #ff0000; }
    8.333% { color: #ff8000; }
    16.667% { color: #ffff00; }
    25.000% { color: #80ff00; }
    33.333% { color: #00ff00; }
    41.667% { color: red; }
    50.000% { color: #00ffff; }
    58.333% { color: #0080ff; }
    66.667% { color: #0000ff; }
    75.000% { color: #8000ff; }
    83.333% { color: #ff00ff; }
    91.667% { color: #ff0080; }
    100% {color: #ff0000; }
}